body{
  margin: 0;
}

section{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(33, 33, 33);
}

#calculadora{
  width: 282px;
}

#numeros{
  background-color: rgb(50, 50, 50);
  border: none;
  border-radius: 30px;
  text-align: right;
  margin-bottom: 10px;
  box-sizing: border-box;
  color: white;
  width: 230px;
  padding: 3px 16.5px;
  font-size: 34px;
  font-weight: bold;
}

#numeros:focus{
  outline: none;
}

button{
  border-radius: 100%;
  height: 50px;
  width: 50px;
  font-size: 19px;
  box-shadow: none;
  border-width: 0;
  margin: 2px;
  cursor: pointer;
  background-color: rgb(50, 50, 50);
  color: white;
}

button:hover{
  background-color: rgb(34, 34, 34);
}

.operador{
  background-color: orange;
}

.operador:hover{
  background-color: rgb(207, 135, 2);
}

.cero{
  width: 107px;
  border-radius: 30px;
}

.operadorpunto{
  background-color: rgb(50, 50, 50);
}

#ac{
  width: 107px;
  border-radius: 30px;
}

#ac, #dl{
  background-color: rgb(178, 178, 178);
  color: black;
}

#ac:hover{
  background-color: rgb(142, 142, 142);
}

#dl:hover{
  background-color: rgb(142, 142, 142);
}